<footer>
    <div class="footer bg-light border-top ">
        <div class=" f-Info-social">
            <div class="social"> <a href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzEwNjkzODM3LCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"> <i class="fa-brands fa-square-facebook"></i></a></div>
            <div class="social"> <a href="https://www.instagram.com/_shamar_afzal_/"> <i style="color: rgb(233, 51, 19);" class="fa-brands fa-instagram"></i></a></div>
            <div class="social"> <a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin"></i></a></div>
        </div>
        <div class="f-Info-brand">&copy; Wanderlust Private limited</div>
        <div class="f-Info-agree">
            <a   href="/privacy">Privacy</a>
            <a  href="/terms">Terms</a>
        </div>
    </div>
</footer>