
<style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-btn:hover{
   border: 0.1rem solid rgba(0, 0, 0, 0.212);
  }
  .navbar{
    margin-top: 0.5rem;
    background: transparent !important;
    backdrop-filter: blur(50px);
  }
  .underline-overline-on-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline-overline-on-hover::before,
.underline-overline-on-hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px; /* Adjust the thickness of the lines */
  background-color: #222; /* Adjust the color of the lines */
  transition: transform 0.3s ease-out, width 0.3s ease-out;
  transform: scaleX(0); /* Initially, lines have zero width */
}

.underline-overline-on-hover::before {
  top: 0;
}

.underline-overline-on-hover::after {
  bottom: 0;
}

.underline-overline-on-hover:hover::before,
.underline-overline-on-hover:hover::after {
  transform: scaleX(1); /* Expand lines to full width on hover */
}
  
  @media (max-width:766px){
    #navbarNavAltMarkup{
      background:fixed;
      background-color: white;
      border-bottom: 2px solid grey;
      border-radius: 10px;
    }
    .underline-overline-on-hover:hover::before,
.underline-overline-on-hover:hover::after {
  transform: scaleX(0); /* Expand lines to full width on hover */
}
  }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
<div class="container-fluid">
  <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link underline-overline-on-hover" href="/listings">Explore</a>
    </div>
    <div class="navbar-nav ms-auto">
      <form method="get" action="/listings/search" class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="country" placeholder="Search country name" aria-label="Search">
        <button class="btn  search-btn" type="submit"><i class="fa-solid fa-magnifying-glass me-1"></i>Search</button>
      </form>
    </div>
    <div class="navbar-nav ms-auto">
      <a class="nav-link underline-overline-on-hover" href="/listings/new">Airbnb your Home</a>
      <% if(!currUser) {%>
      <a class="nav-link sign-log underline-overline-on-hover" aria-current="page" href="/signup"><b>Sign up</b></a>
      <a class="nav-link sign-log underline-overline-on-hover" href="/login"><b>Login</b></a>
       <%}%>
      <% if(currUser) {%>
      <a class="nav-link sign-log underline-overline-on-hover" href="/logout"><b>Log out</b></a>
      <%}%>
    </div>
  </div>
</div>
</nav>
