
  .filters{
    display: flex;
    flex-wrap: wrap;
    margin: 0rem 0 0 0.5rem;
    align-items: center;
  }
  .filters a{
     text-decoration:none ;
  }
  .ind-filter{
    text-align: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-size: 1rem;
    color: black;
    opacity: 0.7;
   }
  .ind-filter:hover{
   /* opacity: 1; */
   cursor: pointer;
   opacity: 1;
  }
  .tog-tax{
     align-items: center;
     border: 0.1rem solid rgba(0, 0, 0, 0.185);
     border-radius: 0.7rem;
     padding: 0.5rem 1rem 0.5rem 1rem !important;
  }
  .tax-info{
    display: none;
  }
  

  .show-card{
    margin-left: 3rem;
  }
  .show-preview{
    margin-left: 5rem;
  }
  
  @media (max-width:1000px) {
    .show-card, .show-preview, .filters, .index-cards{
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width:440px) and (max-width:767px) {
    .tog-tax{
      position: relative;
      margin-right: 22%;
    }
  }
  @media (min-width:385px) and (max-width:440px) {
    .tog-tax{
      position: relative;
      margin-right: 18%;
    }
  }
  @media (min-width:300px) and (max-width:384px) {
    .tog-tax{
      position: relative;
      margin-right: 12%;
    }
  }


 
